<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Productos en Tiempo Real</title>
</head>

<body>
    <h1>Productos en Tiempo Real</h1>
    <ul id="productos">
        {{#each productos}}
        <li>{{this.nombre}} - ${{this.precio}}</li>
        {{/each}}
    </ul>

    <form id="addProductForm">
        <input type="text" id="nombre" placeholder="Nombre del producto" required />
        <input type="number" id="precio" placeholder="Precio" required />
        <button type="submit">Agregar Producto</button>
    </form>
    <form id="deleteProductForm">
        <input type="text" id="deleteNombre" placeholder="Nombre del producto a eliminar" required />
        <button type="submit">Eliminar Producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // Actualizar lista de productos cuando se agrega un nuevo producto
        socket.on('producto agregado', (producto) => {
            const ul = document.getElementById('productos');
            const li = document.createElement('li');
            li.textContent = `${producto.nombre} - $${producto.precio}`;
            ul.appendChild(li);
        });

        // Actualizar lista de productos cuando se elimina uno
        socket.on('producto eliminado', (nombre) => {
            const ul = document.getElementById('productos');
            const items = ul.getElementsByTagName('li');
            for (let i = 0; i < items.length; i++) {
                if (items[i].textContent.includes(nombre)) {
                    ul.removeChild(items[i]);
                    break;
                }
            }
        });

        // Manejar el formulario para agregar productos mediante websockets
        document.getElementById('addProductForm').addEventListener('submit', (event) => {
            event.preventDefault();
            const nombre = document.getElementById('nombre').value;
            const precio = document.getElementById('precio').value;
            socket.emit('agregar producto', { nombre, precio });
            document.getElementById('nombre').value = '';
            document.getElementById('precio').value = '';
        });

        // Manejar el formulario para eliminar productos mediante websockets
        document.getElementById('deleteProductForm').addEventListener('submit', (event) => {
            event.preventDefault();
            const nombre = document.getElementById('deleteNombre').value;
            socket.emit('eliminar producto', nombre);
            document.getElementById('deleteNombre').value = '';
        });
    </script>
</body>

</html>